* {
    margin: 0px;
    padding: 0px;
}

*::-webkit-scrollbar {
    width: 15px;
}
   
*::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
background: rgba(128, 128, 128, 0.511);
/* border: 3px solid blue; */
}

body{
    background-color: beige;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:500;
    color: #ffffff;
}

nav{
    height: 150px;
    background:rgba(80,80,80,0.2);
    display:flex;
    justify-content: space-around;
    position: relative;
    align-items:center;
}

a{
    color:black;
}

nav a, nav a:link {
    text-transform:uppercase;
    font-size:1.2em;
    font-weight:900;
    opacity:0.5;
}

h1{
    color: black;
    font-size: 2.5em;
    margin-left: 10px;
    font-family: KidZone;
}

div.homepage{
    display: flex;
    justify-content: space-evenly;
}

hr.homepage{
    margin-left: 10px;
    width: 500px;
}

p.homepage{
    color: black;
    margin-left: 10px;
    margin-top:10px;
}

article.homepage{
    height: 650px;
    width: 550px;
    border: solid black 3px;
    border-radius: 15px;
    margin-top: 50px;
}

img.homepage{
    width:550px;
}

ol.viewpage{
    color: black;
}

h2.editpage{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 450px;
}

ol.editpage{
    left:20px;
    position: absolute;
    list-style: none;
}

li.editpage{
    display:flex;
    justify-content: space-around;
    width: 830px;
}

td{
    border: black solid 3px;
}

th, td{
    text-align: center;
    color:black;
}

p.editpage1{
    text-align: center;
    width: 145px;
    color:black;
}

p.editpage{
    text-align: center;
    width: 145px;
    color: black;
}

h1.newpage{
    margin-top: 19px;
    margin-left: 450px;
}

form.newpage{
    left:20px;
    position: absolute;
    margin-top: 18px;
}

article.errorpage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2.errorpage{
    color: black;
}

aside{
    position: fixed;
    border:solid gray 3px;
    width:280px;
    height: 70vh;
    overflow-y: scroll;
    right:20px;
    bottom:0px;
}

table{
    overflow-y: hidden;
}