article class="showpage"
  a class="showpage" href="/database" back 
  div class="showpage"
    h1 #{game["title"]}
    ol class = "viewpage"
      li class="showpage" #{game['title']} came out in <b>#{game["release_year"]}</b>
      li class="showpage" This copy of the game is for the <b>#{console["name"]}</b> console which came out in <b>#{console["release_year"]}</b> by the company <b>#{console["company"]}</b>
      - if game["part_of_series"] == "Yes"
        li class="showpage" The game <b>is</b> part of a series of games
      - else
        li class="showpage" The game is <b>not</b> part of a series of games
      li class="showpage" It can be described by the #{genre_or_genres} <b>#{genres}</b>
  img class="showpage" src="#{imgpath}" alt="current game"
